# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environments
.env/
.venv/

# Credentials / Secrets
*.json
*.pem
*.key
*.crt
service-account.json
keys/
